*{
  box-sizing: border-box !important;
}
body{
    font-family: "Comic Relief", system-ui;
}
nav{
    background-color: rgb(58, 73, 123) !important;
    max-width: 900px;
    margin-inline: auto;
  margin-top: -30px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgb(0 0 0 / 0.7);
}
.active{
  color: #09c !important;
}
.row .card{
      transition-duration: 0.5s;
}
.card:hover{
  scale: 1.1;
}
.nav-link{
  transition-duration: 0.3s;
}
.nav-link:hover{
  color: #09c !important;
}
.details{
  min-height: 100%;
}